/* bookInquiry.css - a css layout for bookInquiry.css                                                                                     */
/* started - 24-May-2022                                                                                             */
/* References:                                                                                                       */
/*         HTML & CSS for Beginners Part 22: How to create a basic layout - the CSS                                  */
/* Log                                                                                                               */
/*     24-May-2022 - started                                                                                         */

#results-div {
    width: 80%;
    margin: auto; 
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 800px;
}

#resultarea {
    width: 100%;
    background-color: lightgrey;
}

/* ----------------------------------------------------------------------- old ends ---------------------------------*/

#heading-div {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: center;
}

#topics-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left;
}

#topics-label {
    display: inline-block;
    width: 45px;
}

#topics-select {
    margin-left: 10px;
    margin-bottom: 0px;
}

#modes-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left;
    display: none;
}

#modesfetch-button {
    margin-top: 10px;
}

#modesquery-button {
    margin-top: 10px;
}

#modesadd-button {
    margin-top: 10px;
}

#modesupdate-button {
    margin-top: 10px;
}

#modesdelete-button {
    margin-top: 10px;
}

#mode-label {
    display: inline-block;
}

#titles-div {
    display: none;
}

#titlesfilter-div {
    width: 80%; 
    margin: auto; 
    max-width: 800px; 
    text-align: left;
}

#titlesfilter-label {
    margin-left: 0px;
    width:45px;
}

#titlesfilter-input {
    width: 88%;
    margin-top: 10px;
    margin-left: 17px;
    margin-bottom: 10px;
}

#titlesarea-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
}

#titlesarea-textarea {
    font-family: lucida console;
    font-size: 14px;
    width: 100%;
    margin-left: 0px;
    white-space: pre;
}

#recents-div {
    display: none;
}

#recentsfilter-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align:left;
}

#recentsfilter-input {
    width: 88%; 
    margin-top: 10px;
    margin-left: 17px;
    margin-bottom: 10px;
}

#recentsarea-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
}

#recentsarea-textarea {
    font-family:lucida console;
    font-size: 14px;
    width: 100%;
    margin-left: 0px;
    white-space:pre
}

#unreads-div {
    display: none;
}

#unreadsfilter-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left;
}
#unreadsfilter-label {
    margin-left: 0px;
    width: 45px;
}

#unreadsfilter-input {
    width: 88%; 
    margin-top: 10px; 
    margin-left: 17px; 
    margin-bottom: 10px;
}

#unreadsarea-div {
    width: 80%;
    margin: auto;
    max-width:800px;
}

#unreadsarea-textarea {
    font-family: lucida console;
    font-size: 14px;
    width: 100%;
    margin-left: 0px;
    white-space: pre;
}

#characters-div {
    display: none;
}

#charactersbook-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left;
}

#charactersbookid-label {
    margin-left: 0px;
    width: 45px;
}

#charactersbookid-input {
    width: 5%;
    margin-top: 10px;
    margin-left: 17px;
    margin-bottom: 0px;
}

#charactersbooktitle-input{
    width: 58%;
    margin-top: 10px;
    margin-left: 6px;
    margin-bottom:5px;
}

#charactersvalidatebook-button {
    margin-top: 10px;
}

#charactersadd-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left;
    display:none;
}

#charactersadd-label {
    margin-left: 0px;
    width: 35px;
}

#charactersadd-input {
    width: 77%;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#charactersupdate-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left;
    display: none;
}

#charactersupdate-label {
    margin-left: 0px;
    margin-top: 10px;
    width: 45px;
}

#charactersupdateid-input {
    width: 5%;
    margin-top: 10px;
    margin-left: 17px;
    margin-bottom: 10px;
}

#charactersupdatename-input {
    width: 58%;
    margin-top: 10px;
    margin-left: 3px;
    margin-bottom: 10px;
}

#charactersvalidateid-button {
    margin-top:10px;
}

i#charactersupdatedname-label {
    display: inline-block;
    margin-right: 0px;
    margin-top: 0px;
    width: 47px;
}

#charactersupdatedname-input {
    display: inline-block;
    margin-left: 27px;
    margin-bottom: 5px;
    width: 75%;
}

#charactersdelete-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left;
    display: none;
}

#charactersdeleteid-label {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45px;
}

#charactersdeleteid-input {
    width: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
}

#charactersfilter-div {
    width: 80%; 
    margin: auto; 
    max-width: 800px;
    text-align: left;
}

#charactersfilter-label {
    margin-left: 20px;
    width: 45px;
}

#charactersfilter-input {
    width: 88%;
    margin-top: 10px;
    margin-left: 17px;
    margin-bottom: 10px;
}

#charactersarea-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
}

#charactersarea-textarea {
    font-family: lucida console;
    font-size: 14px;
    width: 100%;
    margin-left: 0px;
    white-space: pre;
}

#authors-div {
    display: none;
}

#authorsfilter-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left
}

#authorsfilter-label {
    margin-left: 0px;
    width: 45px;
}

#authorsfilter-input {
    width: 88%;
    margin-top: 10px;
    margin-left: 17px;
    margin-bottom: 10px;
}

#authorsadd-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left;
}

#authorsadd-label {
    margin-left: 0px;
    width: 45px;
}

#authorsadd-input {
    width: 65%;
    margin-top: 10px;
    margin-left: 17px;
    margin-bottom: 10px;
}

#authorsupdate-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left;
    display: none;
}

#authorsupdate-label {
    margin-left: 0px;
    margin-top: 10px;
    width: 32px;
}

#authorsupdateid-input {
    width: 5%;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}

#authorsupdatename-input {
    width: 58%;
    margin-top: 10px;
    margin-left: 3px;
    margin-bottom: 10px;
}

#authorsupdate-button {
    margin-top: 10px;
}

#authorsupdated-label {
    display: inline-block;
    margin-right: 0px;
    margin-top: 0px;
    width: 47px;
}

#authorsupdated-input {
    display: inline-block;
    margin-left: 27px;
    margin-bottom: 10px;
    width: 75%;
}

#authorsdelete-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left;
    display: `none;
}

#authorsdelete-label {
    margin-left: 0px;
    margin-top: 10px;
    width: 32px;
}

#authorsdelete-input {
    width:5%;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
}

#authorslist-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
}

#authorslist-textarea {
    font-family: lucida console;
    font-size: 14px;
    width: 100%;
    margin-left: 0px;
    white-space: pre;
}

#submit-div {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
    display: none;
}

#submit-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#submit-label {
    display: inline-block;
    width: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#classifications-div {
    display:none;
}

#classificationsfilter-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left;
}

#classificationsfilter-label {
    margin-left: 0px;
    width: 45px;
}

#classificationsfilter-input {
    width: 88%;
    margin-top: 10px;
    margin-left: 17px;
    margin-bottom: 10px;
}

classificationsadd-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left;
}

#classificationsadd-label {
    margin-left: 0px;
    width: 45px;
}

#classificationsadd-input {
    width: 65%;
    margin-top: 10px;
    margin-left: 17px;
    margin-bottom:5px;
}

#classificationsupdate-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left;
    display: none;
}

#classificationsupdate-label {
    margin-left: 0px;
    margin-top: 10px;
    width: 32px;
}

#classificationsupdateid-input {
    width:5%;
    margin-top:5px;
    margin-left:14px;
    margin-bottom:5px;
}

#classificationsupdatename-input {
    width: 58%;
    margin-top: 10px;
    margin-left: 3px;
    margin-bottom: 10px;
}

#classificationsupdate-button {
    margin-top: 10px;
}

#classificationsupdated-label {
    display: inline-block;
    margin-right: 0px;
    margin-top: 0px;
    width: 47px;
}

#classificationsupdated-input {
    display: inline-block;
    margin-left: 27px;
    margin-bottom: 5px;
    width: 75%;
}

#classificationsdelete-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: left;
    display: none;
}

#classificationsdelete-label {
    margin-left: 0px;
    margin-top: 5px;
    width: 32px;
}

#classificationsdelete-input {
    width: 5%;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 5px;
}

#classificationslist-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
}

#classificationslist-textarea {
    font-family: lucida console;
    font-size: 14px;
    width: 100%;
    margin-left: 0px;
}

#books-div {
    width: 80%; 
    margin: auto;
    display: none;
}

#booksstage-div {
    display: block;
    margin: 10px 0px 10px 0px;
}

#booksstage-label {
    display: inline-block;
    width: 55px;
}

#bookdid-div {
    display: block;
    margin: 10px 0px 10px 0px;
}

#booksid-label {
    display: inline-block;
    width: 55px;
}

#booksname-div {
    display: block;
    margin: 10px 0px 10px 0px;
}

#booksname-label {
    display: inline-block;
    width: 55px;
}

#booksauthor-div {
    display: block;
    margin: 10px 0px 10px 0px;
}

#booksauthor-label {
    display: inline-block;
    width: 55px;
}

#bookssource-div {
    display: block;
    margin: 10px 0px 10px 0px;
}

#bookssource-label {
    display: inline-block;
    width: 55px;
}

#booksseries-div {
    display: block;
    margin: 10px 0px 10px 0px;
}

#booksseries-label {
    display: inline-block;
    width: 55px;
}

#booksgenre-div {
    display: block;
    margin: 10px 0px 10px 0px;
}

#booksgenre-label {
    display: inline-block;
    width: 55px;
}

#booksstatus-div {
    display: block;
    margin: 10px 0px 10px 0px;
}

#booksstatus-label {
    display: inline-block;
    width: 55px;
}

#booksclassification-div {
    display: block;
    margin: 10px 0px 10px 0px;
}

#booksclassification-label {
    display: inline-block;
    width: 55px;
}

#booksrating-div {
    display: block;
    margin: 10px 0px 10px 0px;
}

#booksrating-label {
    display: inline-block;
    width: 55px;
}

#booksstart-div {
    display: block;
    margin: 10px 0px 10px 0px;
}

#booksstart-label {
    display: inline-block;
    width: 55px;
}

#booksfinish-div {
    display: block;
    margin: 10px 0px 10px 0px;
}

#booksfinish-label {
    display: inline-block;
    width: 55px;
}

#bookscomments-div {
    display: block;
    margin: 10px 0px 10px 0px;
}

#bookscomments-label {
    display: inline-block;
    width: 55px;
}

#bookscharacters-div {
    display: block;
    margin: 10px 0px 10px 0px;
}

#bookscharacters-label {
    display: inline-block;
    width: 55px;
}







#submit-message {
    font-family: calibri;
    font-size: 15px;
    display: inline-block;
    width: 75%;
}

